/* ./assets/css/style.css */

body {
    padding-top: 56px;
    background-color: #f8f9fa;
    font-family: "Open Sans", sans-serif; /* Cambiado a Open Sans para el cuerpo */
}

.display-1 {
    font-family: "Big Shoulders Stencil Text", sans-serif; /* Especifica Big Shoulders Stencil Text para h1 */
    font-weight: 700;
    font-style: bold;
    font-size: 18vw;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center; /* Centra la imagen inicialmente */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Hace el texto transparente */
    -webkit-text-fill-color: transparent;
    position: relative; /* Necesario para aplicar parallax */
}
i{
    transform: rotate(90deg);
}


.subheader {
    color: #f8f9fa;
    background-color: #2e2e2e;
    padding: 20px;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-align: center;
    height: 50vw;
    font-family: "Big Shoulders Stencil Text", sans-serif; /* Especifica Big Shoulders Stencil Text para h1 */

}
